<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Superjobs Venture Capital - Startups">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Generate og:locale tags -->
    <%= for {property, content} <- fb_locales do %>
      <%= Phoenix.HTML.Tag.tag(:meta, property: property, content: content) %>
    <% end %>

    <!-- Generate link alternate tags -->
    <%= for {lang, path} <- language_annotations(@conn) do %>
      <%= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
    <% end %>

    <title>Superjobs Venture Capital</title>
    <link rel="icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Lato:300,700" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81388316-1', 'auto');
  ga('send', 'pageview');

    </script>

    <!-- <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet"> -->
  </head>

  <body>
    <header id="header">
        <div class="navigation">
            <a href="#nav" class="cd-nav-trigger">
            Menu<span></span>
         </a>
            <!-- .cd-nav-trigger -->
        </div>

        <ul class="social-header">
          <li>
            <a href="<%= page_path(@conn, :index, "pt-br") %>">
              <img src="<%= static_path(@conn, "/images/flags/bra.png") %>" />
            </a>
          </li>
          <li>
            <a href="<%= page_path(@conn, :index, "en") %>">
              <img src="<%= static_path(@conn, "/images/flags/usa.png") %>" />
            </a>
          </li>
        </ul>
        <div class="logo">
          <a href="<%= page_path(@conn, :index, @locale) %>"><img src="/images/logo_v2.png" alt="Superjobs logo" width="212" /></a>
        </div>
        <nav class="cd-nav-container" id="nav">
            <div class="close-container">
                <a href="#0" class="cd-close-nav">Close</a>
            </div>

            <ul class="cd-nav">
                <li><a href="/#who-we-are"><%= gettext "Quem somos" %></a></li>
                <li><a href="/#our-vision"><%= gettext "Nossa visão" %></a></li>
                <li><a href="/#portfolio"><%= gettext "Portfólio" %></a></li>
                <li><a href="/#team"><%= gettext "Nosso Time" %></a></li>
                <li><a href="/#get-in-touch"><%= gettext "Contato" %></a></li>
            </ul>
            <!-- .cd-nav -->
        </nav>
    </header>

    <!--- TODO: Remove or fix
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    -->

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <%= gettext "SuperJobs Venture Capital - Todos os direitos reservados" %>
    </footer>

  
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>    

    <!-- <script src="//vjs.zencdn.net/5.19/video.min.js"></script> -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%# Typeform link popup form snippet %>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>


  </body>
</html>
