.get-in-touch {
  padding: 60px;

  &__header {
    font-size: 36px;
    font-weight: bold;
  }

  &__content {
    font-size: 48px;
    color: $color-green;
  }

  &__buttons {
    font-size: 18px;
  }

  #modal-press {
    .close {
      font-size: 35px;
    }

    .modal-dialog {
      margin: 15% auto 0;

      @media screen and (max-device-width: 768px) {
        margin: 55% auto 0;
      }
    }

    .modal-header {
      text-align: center;
      margin-bottom: 0;

      .modal-title {
        color: $color-blue;
        font-weight: bold;
        font-size: 30px;
      }
    }

    .modal-content {
      background: url(/images/modal-background.jpeg) #FFFFFF 0 0 repeat;      
    }

    p {
      margin: 0;
    }
  }
}

.modal-backdrop.in {
  opacity: .8;
}