.here-to-help {
  padding-top: 30px;
  text-align: center;

  &__header {
    font-size: 28px;
    font-weight: bold;
  }

  &__content {
    font-size: 30px;
    padding: 15px;
    color: $color-blue;
    font-family: $second-font;
  }
}
