.process-slider {
  width: 100%;
  position: relative;

  &__nav {
    width: 100%;
    height: 33.22%;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    text-align: center;
    font-family: $second-font;

    h3, a, a:hover {
      color: white;
    }

    h3 {
      font-size: 38px;
      font-weight: 600;
      margin-top: 60px;

      @media screen and (max-width: 768px) {
      	font-size: 24px;
	margin-top: 30px;
      }
    }

    &__jumps {
      font-size: 18px;
      font-weight: 100;
      margin-top: 90px;

      @media screen and (max-width: 768px) {
        display: none;
      }

      a {
      	margin-right: 30px;

        &.active {
          position: relative;
          display: inline-block;
          padding-bottom: 10px;

          &::after {
            position: absolute;
            line-height: 12px;
            content: "\2022";
            font-size: 35px;
            display: block;
            bottom: -10px;
            left: 0;
          }

          &.tab-01 {
            color: #06ff95;
          }
          &.tab-02 {
            color: #e4ff00;
          }
          &.tab-03 {
            color: #7ef6ef;
          }
          &.tab-04 {
            color: #f66a04;
          }
        }
      }
    }
  }

  &__slide {
    width: 100%;
    height: auto;
    cursor: initial;

    &__content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  .owl-nav {
    &.slide-01 {
      .owl-prev { 
        background: url(../images/process-slider/arrow-slide-01-left.png) top no-repeat;
      }
      .owl-next { 
        background: url(../images/process-slider/arrow-slide-01-right.png) top no-repeat;
      }
    }
    &.slide-02 {
      .owl-prev { 
        background: url(../images/process-slider/arrow-slide-02-left.png) top no-repeat;
      }
      .owl-next { 
        background: url(../images/process-slider/arrow-slide-02-right.png) top no-repeat;
      }
    }
    &.slide-03 {
      .owl-prev { 
        background: url(../images/process-slider/arrow-slide-03-left.png) top no-repeat;
      }
      .owl-next { 
        background: transparent;
      }
    }

    .owl-next {
      background: url(../images/process-slider/arrow-slide-00-right.png) top no-repeat;
      position: absolute;
      height: 73px;
      width: 30px;
      right: 10px;
      top: 60%;
    }

    .owl-prev {
      position: absolute;
      height: 73px;
      width: 30px;
      left: 10px;
      top: 60%;
    }
  }
}
