.who-we-are {
  background: $color-white;
  position: relative;
  overflow: hidden;
  height: 630px;

  &__header {
    font-family: $second-font;
    color: $color-blue;
    font-weight: 600;
    padding-left: 0;
    font-size: 46px;
  }

  &__part {
    margin-left: -620px;
    position: absolute;
    font-size: 24px;
    z-index: 100;
    top: 150px;
    left: 50%;

    p {
      padding-bottom: 20px;
      color: #FFFFFF;
    }

    p:nth-child(2) {
      font-size: 24px;
    }
  }
  
  .play-button {
    margin-top: 30px;
    cursor: pointer;
  }

  .video-holder {
    position: relative;
    height: 100%;
    width: 100%;

    .fullscreen {
      display: none;
    }

    .playback video, .video-overlay {
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }

    .video-overlay{
      background: url(/images/cases/video-overlay.png) 0 0 repeat;
      background-blend-mode: multiply;
      min-width: 122%;
      min-height: 122%;
    }
  }
}

