<section class="vedio parallax block-area">
    <div class="overlay"></div>
    <div class="container parallax-container">
        <h5 class="wow fadeInDown"><span class="divider right"></span> Estamos prontos para te ajudar <span class="divider left"></span></h5>
        <h3>De marketplaces a fintech, nós ajudamos os inovadores a melhorarem o mundo</h3>
    </div>
</section>
