<%= render "_header.html", assigns %>
<%= render "_our_process.html", assigns %>
<%= render "_parallax_about.html", assigns %>
<%= render "_portfolio.html", assigns %>
<%= render "_testimonial_cases.html", assigns %>
<%= render "_get_in_touch.html", assigns %>
